* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.content {
  width: 100%;
}
.content h2 {
  color: #fff;
  font-size: 2.5em;
}
#name {
  color: #40c3ff;
  font-size: 1.2em;
}
.content .buttons {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.cvButton {
  display: flex;
  align-items: center;
  justify-content: center;
}

#wrap {
  border-right: 0.08em solid #fff;
}
.typewrite {
  text-align: center;
}

.line-1 {
  position: relative;
  top: 50%;
  margin: 0 auto;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
}

/* Animation */
.anim-typewriter {
  animation: blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

@media (max-width: 750px) {
  .content h2 {
    font-size: 1.5em;
  }

  .content .buttons,
  .cvButton {
    width: 100%;
  }
  .logoText {
    display: none;
  }
}
