@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
#contactContainer {
  min-height: 100vh;
  padding: 15%;
}
#contactContainer h2 {
  width: 100%;
  color: #45f3ff;
  font-size: 1.9em;
  text-align: center;
  margin-bottom: 10px;
}

#contactContainer .row100 {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

#contactContainer .row100 .col {
  position: relative;
  width: 100%;
  padding: 0 10px;
  margin: 30px 0 10px;
  transition: 0.5s;
}

#contactContainer .row100 .inputBox {
  position: relative;
  width: 100%;
  height: 40px;
  color: #45f3ff;
}

#contactContainer .row100 .inputBox input,
#contactContainer .row100 .inputBox.textarea textarea,
#contactContainer .row100 .inputBox .text {
  font-size: 1em;
}

#contactContainer .row100 .inputBox input,
#contactContainer .row100 .inputBox.textarea textarea {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  box-shadow: none;
  border: none;
  outline: none;
  padding: 0 10px;
  z-index: 1;
  color: #000;
}
#contactContainer .row100 .inputBox .text {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 40px;
  padding: 0 10px;
  display: block;
  transition: 0.5s;
  pointer-events: none;
}
#contactContainer .row100 .inputBox input:focus + .text,
#contactContainer .row100 .inputBox input:valid + .text {
  top: -35px;
  left: -10px;
}

#contactContainer .row100 .inputBox .line {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 2px;
  background: #45f3ff;
  transition: 0.5s;
  border-radius: 2px;
  pointer-events: none;
}
#contactContainer .row100 .inputBox input:focus ~ .line,
#contactContainer .row100 .inputBox input:valid ~ .line {
  height: 100%;
}
#contactContainer .row100 .inputBox.textarea {
  position: relative;
  width: 100%;
  height: 100px;
  padding: 10px 0;
}
#contactContainer .row100 .inputBox.textarea textarea {
  height: 100%;
  resize: none;
}
#contactContainer .row100 .inputBox textarea:focus + .text,
#contactContainer .row100 .inputBox textarea:valid + .text {
  top: -35px;
  left: -10px;
}
#contactContainer .row100 .inputBox textarea:focus ~ .line,
#contactContainer .row100 .inputBox textarea:valid ~ .line {
  height: 100%;
}
.sendButton {
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 750px) {
  #contactContainer h2 {
    font-size: 1.6em;
  }

  #contactContainer .row100 .inputBox input,
  #contactContainer .row100 .inputBox.textarea textarea,
  #contactContainer .row100 .inputBox .text {
    font-size: 0.9em;
  }
}
