@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

body {
  background: #000;
  font-family: "Poppins", sans-serif;
}
.home {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  /* background: url(); background-size: cover; USE THIS FOR PICTURE AS BACKGROUND*/
  display: flex;
  align-items: center;
}
